.filter1 {
  -webkit-filter: grayscale(1);
}
.filter2 {
  -webkit-filter: sepia(1);
}
#preview {
	-webkit-transform:rotate(90deg);
	display: block;
	float: left;
}
#controls {
	height: 640px;
	float: left;
	width: 700px;
	color: white;
	font-size: 25px;
	overflow: hidden;
}
#filters div video {
	-webkit-transform:rotate(90deg);
	position: relative;
	top: 33px;
	left: -33px;
}
#filters div {
	width: 200px;
	height: 267px;
	float: left;
	border: 5px solid transparent;
}
.selFilter {
	border-color: red !important;
}
body {
	background-color: black;
	font-family: Arial, sans-serif;
	color: white;
	overflow: hidden;
}
#flash {
	background-color: white;
	z-index: 5;
}
#snapping {
	display: none;
	height: 640px;
	font-size: 150px;
	text-align: center;
}
#printWin {
	display: none;
}
#home {
	background-color: #0456C2;
	text-align: center;
	color: white;
	z-index: 11;
}
#home h1 {
	font-size: 100px;
	margin: 0px;
}
.selMenu {
	font-weight: bold;
}
#home > div {
	width: 900px;
	margin: 30px auto;
}
#home > div div {
	width: 430px;
	float: left;
	font-size: 30px;
}
#loading {
	background-color: #333;
	z-index: 1;
}
.full {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px; left: 0px;
	display: none;
}
canvas {
	display: none;
}
#filmstrip {
	background-color: black;
	z-index: 4;
	text-align: center;
}
#filmstrip > div {
	width: 900px;
	height: 700px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #ccc;
	padding: 10px;
}
#filmstrip > div div {
	height: 700px;
	width: 5000px;
	position: relative;
	text-align: left;
	color: black;
	/* left: 300px; */
}

#filmstrip img {
	height: 666px;
	border: 5px solid transparent;
}
.selStrip {
	border-color: red !important;
}
